<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mutuallyhuman.radiator</string>
    <key>Program</key>
    <string>/Applications/Google Chrome.app/Contents/MacOS/Google Chrome</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/Google Chrome.app/Contents/MacOS/Google Chrome</string>
        <string>--kiosk</string>
        <string>https://webris.okdhmg.rededor.corp/</string>
    </array>
    <key>LSUIPresentationMode</key>
    <integer>3</integer> 
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Applications/Google Chrome.app/Contents/MacOS</string>
    <key>RunAtLoad</key>
    <true/>
    <key>ServiceDescription</key>
    <string>Dashboard Radiator</string>
</dict>
</plist>